.console-text-medium {
    font-family: "VT323";
    font-size: 25px;
  }

  pre{
      margin-top: 20px;
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      margin-left: 20px;
  }

  /* span{
    display: block;
    
    max-width: 220px;
    
    word-break: break-all; 
    
    word-break: break-word;
    
  } */