<pre class="console-text" id="typewriter" (keyup)="onKey($event)" (touchstart)="onTouch()">
<span>Hey, I'm Ryan.</span>
<span>It's nice to meet you.</span>
<span></span>
<span>I'm a developer.</span>
<span id="google">It means I can use Goog</span>
<span>It means I solve problems.</span>
<span></span>
<span id="skip">[{{skipContent}}]</span>
<span></span>
<span>Anyways, </span>
<span>Feel free to check out the rest of the site!</span>
<span>Or stay here while I talk about myself.</span>
<span></span>
<span>Basically,</span>
<span>I'm a huge nerd.</span>
<span>For a lot of things.</span>
<span>Sciences in particular.</span>
<span>I read far too many Wikipedia articles.</span>
<span></span>
<span>I've been programming since I was first introduced to it as a teenager.</span>
<span>I think it's immensley satisfying to solve problems as efficiently as possible with the constraints computers and their logic gives you, be it tinkering with web apps or developing software from the ground up.</span>
<span></span>
<span>Automating things gets me excited too. (Who doesn't like eliminating a repetitive task?)</span>
<span>In fact, if I'm on a project long enough, I bet you a hot dog I'll find ways to automate or improve part of the exising system.</span>
<span></span>
<span>I guess what it comes down to is:</span>
<span>I'd like to help you.</span>
<span>So feel free to</span>
<a href="/contact">contact me</a>
<span>if you'd like me to be on your team.</span>
</pre>