<pre class="console-text" id="typewriter" (keyup)="onKey($event)">
<span>Hey, I'm Ryan.</span>
<span>It's nice to meet you.</span>
<span></span>
<span>I'm a developer.</span>
<span id="google">It means I can use Goog</span>
<span id="after-google">It means I solve problems.</span>
<span></span>
<span id="skip">[{{skipContent}}]</span>
<span></span>
<span>Anyways, </span>
<span>Feel free to check out the rest of the site!</span>
<span>Or stay here while I talk about myself.</span>
<span></span>
</pre>