<pre class="console-text" id="typewriter" (keyup)="onKey($event)" (touchstart)="onTouch()">
<span>Hey, I'm Ryan.</span>
<span>It's nice to meet you.</span>
<span></span>
<span>I'm a developer.</span>
<span id="google">It means I can use Goog</span>
<span>It means I solve problems.</span>
<span></span>
<span id="skip">[{{skipContent}}]</span>
<span></span>
<span>I've been programming for about 5 years now.</span>
<span></span>
<span>I think it's immensley satisfying to solve problems as efficiently as possible with the constraints computers and their logic gives you, be it tinkering with web apps or developing software from the ground up.</span>
<span></span>
<span>I'm interested in a lot of different areas in CS!</span>
<span>For example, lately I've been getting into graphics and have been writing a ray tracer on the side.</span>
<span></span>
<span>I also enjoy lifting, hiking, drawing, playing the ocarina and the piano, and whatever else I'm obsessed with at the moment.</span>
<span></span>
<span>At any rate,</span>
<span>Thanks for stopping by!</span>
<span>Feel free to</span>
<a href="/contact">contact me</a>
<span>if you have any questions or you'd like me to be on your team!</span>
</pre>