.sub{
    margin-top: 20px;
    margin-left: 5px;
}

a{
    display: block;
    color: #745cff;
}

h2{
    display: block;
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word;
}

.contact-wrapper{
    margin-left: 5px;
}