<mat-sidenav-container class="sidenav-container" #container id="containerNav" (swipeLeft)="drawer.close()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="background: #141414">
    <mat-toolbar class="console-text"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/about" class="console-text-sidebar" *ngIf="this.router.url == '/about' else elseBlockAbout">*ABOUT_ME</a>
      <ng-template #elseBlockAbout>
          <a mat-list-item (touchstart)="about()" routerLink="/about"  class="console-text-sidebar">ABOUT_ME</a>
      </ng-template>
      <a mat-list-item routerLink="/resume" class="console-text-sidebar" *ngIf="this.router.url == '/resume' else elseBlockResume">*RESUME</a>
      <ng-template #elseBlockResume>
          <a mat-list-item (touchstart)="resume()" routerLink="/resume"  class="console-text-sidebar">RESUME</a>
      </ng-template>
      <a mat-list-item routerLink="/projects" class="console-text-sidebar" *ngIf="this.router.url == '/projects' else elseBlockProjects">*PROJECTS</a>
      <ng-template #elseBlockProjects>
          <a mat-list-item (touchstart)="projects()" routerLink="/projects"  class="console-text-sidebar">PROJECTS</a>
      </ng-template>
      <a mat-list-item routerLink="/contact" class="console-text-sidebar" *ngIf="this.router.url == '/contact' else elseBlockContact">*CONTACT</a>
      <ng-template #elseBlockContact>
          <a mat-list-item (touchstart)="contact()" routerLink="/contact" class="console-text-sidebar">CONTACT</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content id="sideContent" (swipeRight)="drawer.open()" class="content-background">
    <mat-toolbar color="primary" style="background: #8347cc;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
         <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        <img height="30px" width="30px" src="../../assets/white_hamburger_menu.png">
      </button>
      <span style="margin-left: 5px;" class="console-text-large">RYAN_ANDERSEN</span>
    </mat-toolbar>
    <div [@routeAnimations]="prepareRoute(outlet)" [@routeAnimations.done]="scrollUp()">
      <router-outlet #outlet="outlet" style="background-color: black;"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
